
        #div1{
            background-color: aqua;
            width:500px;
            text-align: center;
            display: inline-block;
            float: left;
        }
        #div2{
            background-color: blue;
            width:500px;
            text-align: center;
            display: inline-block;
            float:left;

        }
        #div3{
            background-color:fuchsia;
            width:500px;
            text-align: center;
            display: inline-block;
            float: left;
        }
        #div4{
            background-color: gold;
            width:500px;
            text-align: center;
            display: inline-block;
            float: left;
        }
    